@import './reset.scss';
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

// Colors
$color-blue: #0078D4;
$color-alt-blue: #0070d3;//#0083da;//
$color-lt-blue: #50E6FF;
$color-black: #000000;
$color-white: #FFFFFF;
$color-lt-grey: #EBEBEB;
$color-grey: #75757A;
$color-dk-grey: #3C3C41;
$color-shadow: #00000094;

// Easing function
$ease-in-out: cubic-bezier(0.7, 0, 0.3, 1);
$ease-out: cubic-bezier(0, 0, 0.15, 1);
$ease-out-2: cubic-bezier(0, 0.45, 0.2, 1);
$ease-in: cubic-bezier(0.75, 0, 1, 1);
$ease-in-2: cubic-bezier(0.8, 0, 1, 0.55);

// Widths
$min-width: 300px;

* {
  box-sizing: border-box;
}
html {
  background-color: $color-black;
  color: $color-white;
  font-family: 'Segoe UI',SegoeUI,'Segoe WP',Helvetica,Tahoma,Arial,sans-serif;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
      overflow-x: hidden;
}
body {
  height: auto;
  width: 100vw;
  overflow-x: hidden;
  font-size: 12px;
}

h1 {
  margin-bottom: 1.5rem;
  font-size: 35pt;//5rem;
  text-transform: uppercase;
  font-weight: bold;
}
h2 {
  font-size: 37pt;
  font-weight: 100;
  margin-bottom: 1rem;
}
h3 {
  font-size: 18pt;
  font-weight: 100;
  margin: 2rem 0 .5rem;
}
h4 {
  font-size: 14pt;
  font-weight: 600;
  margin-bottom: .5rem;
}

ul {
  list-style: disc;
  padding-left: 2rem;
  margin-bottom: 2rem;
  li {
    font-size: 14pt;
    margin-bottom: 1rem;
    font-weight: 100;
    line-height: 1.6;
  }
}

p,label {
  font-size: 14pt;
  font-weight: 100;
  line-height: 1.4;
}
p {
  font-size: 16pt;
  margin-bottom: .8rem;
}

a, .a {
  // font-size: 1.5rem;
  font-weight: 600;
  color: $color-lt-blue;
  text-decoration: none;
  // line-height: 1.75;
  cursor: pointer;
}

button, .button {
  padding: .5rem 1rem;
  color: inherit;
  font: inherit;
  font-size: 22pt;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  &:disabled {
    cursor: auto;
  }
  &.arrow {
    &::after {
      content: "";
      height: .15em;
      width: 1.1em;
      margin: .55em .5rem;
      display: inline-block;
      vertical-align: top;
      background-color: $color-white;
    }
    &::before {
      content: "";
      position: absolute;
      right: .35em;
      top: 0;
      bottom: 0;
      height: 0;
      width: 0;
      margin: auto;
      display: inline-block;
      vertical-align: middle;
      border: .3em $color-blue solid;
      border-left-color: $color-white;
      transition: transform .5s $ease-in-out;
    }
    &:hover::before {
      transform: translateX(.6rem);
    }
  }
}

#root {
  &>div {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    &>header {
      height: 6rem;
      background-color: $color-black;
      z-index: 10;
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      // padding: 0 1.5rem;
      img {
        height: 100%;
        cursor: pointer;
      }
    }
    &>main {
      flex: 1 1 auto;
      display: flex;
      // overflow: hidden;
      height: calc(100vh - 6rem);
      &>section {
        position: relative;
        background-color: $color-blue;
        flex: 1 1 auto;
        will-change: width;
        overflow: hidden;
        transition: transform 1s $ease-in-out, width 1s $ease-in-out, background-color 1s $ease-in-out .5s;
        // &::before, &::after {
        //   content: "";
        //   z-index: 21;
        //   width: 50rem;
        //   height: 20rem;
        //   position: absolute;
        //   background-color: $color-white;
        //   transition: transform 1s $ease-in-out;
        // }
        // &::before {
        //   // top: -10vh;
        //   // left: -20vw;
        //   // transform: rotate(-30deg) translateY(-25vh);
        //   top: 0;
        //   left: 0;
        //   transform: translate(-18%, -155%) rotate(-30deg);
        // }
        // &::after {
        //   // bottom: -10vh;
        //   // right: -20vw;
        //   // transform: rotate(-30deg) translateY(25vh);
        //   bottom: 0;
        //   right: 0;
        //   transform: translate(18%, 155%) rotate(-30deg);
        // }
        &.front>div {
          transition-delay: .5s;
        }
        &.carpet {
          // &::before, &::after {
          //   transform: rotate(-30deg);
          //   transition-delay: 1s;
          // }
          // &::before {
          //   transform: translate(-18%, -90%) rotate(-30deg);
          // }
          // &::after {
          //   transform: translate(18%, 90%) rotate(-30deg);
          // }
        }
        &.results {
          background-color: $color-black;
          transition-delay: 0s;
        }
        &>div {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: opacity .5s $ease-in-out;
          z-index: 10;
          overflow-y: auto;
          &.show {
            opacity: 1;
            position: relative;
            z-index: 20;
            transition-delay: 1s;
          }
        }
      }
      aside {
        flex: 0 0 auto;
        transition: transform 1s $ease-in-out, width 1s $ease-in-out, background-color 1s $ease-in-out;
        will-change: width;
        background-color: $color-black;
        z-index: 30;
        position: relative;
        overflow-x: hidden;
        // overflow-y: auto;
        &.w0 {
          width: 0;
          transition-delay: .25s;
        }
        &.w30 {
          width: 30vw;
        }
        &.w40 {
          width: 40vw;
        }
        &.results {
          background-color: $color-blue;
        }
        label {
          position: relative;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: space-between;
        }
        header {
          padding: 0 2rem;
          p {
            margin-bottom: 3rem;
            font-size: 12pt;
          }
        }
        form {
          overflow: auto;
          flex: 1 1 auto;
        }
        footer {
          margin-top: auto;
          padding: 2rem;
        }
        button {
          background-color: $color-lt-blue;
          color: $color-black;
          font-size: 14pt;
          padding: .75rem;
          min-width: 9rem;
          margin-left: 1rem;
          position: relative;
          transition: background-color 1s $ease-in-out;
          overflow: hidden;
          &:first-of-type {
            margin: 0;
          }
          &:disabled {
            background-color: $color-dk-grey;
            &:after {
              display: none;
            }
          }
          &>span {
            position: relative;
            z-index: 1;
          }
          &:after {
            content: "";
            position: absolute;
            z-index: 0;
            transition: all 0.3s;
            width: 100%;
            height: 0;
            top: 50%;
            left: 50%;
            background: #fff;
            opacity: 0;
            transform: translateX(-50%) translateY(-50%) rotate(-30deg);
          }

          &:hover::after {
            height: 200%;
            opacity: 1;
          }

          &.back {
            color: $color-white !important;
            background: transparent !important;
            font-weight: 100;
            &:after {
              display: none;
            }
          }
        }
        img {
          height: 100px;
          margin-right: 1rem;
        }
        section {
          padding: 2rem;
          padding-top: 0;
          &:first-of-type {
            padding-top: 2rem;
          }
        }
        &>.show~div {
          transform: translateX(100%);
        }
        &>div {
          opacity: 0;
          transition: opacity .25s $ease-in, transform .75s $ease-in-2;
          height: 100%;
          min-width: $min-width;
          position: absolute;
          left: 0;
          top: 0;
          display: flex;
          flex-flow: column;
          z-index: 10;
          overflow: hidden;
          transform: translateX(-100%);

          &.show {
            opacity: 1;
            transition-delay: 1s;
            z-index: 20;
            position: relative;
            transform: none;
            transition: opacity .25s $ease-out .5s, transform .75s $ease-out-2;
          }
        }
      }
    }
  }
}

aside {
  h2 {
    font-size: 24pt;
  }
  h3 {
    margin: 0;
  }
  .dropdown h3 {
    font-size: 1.1rem;
  }
}

#aside-1,
#aside-2,
#aside-3,
#aside-4,
#aside-5 {
  width: 40vw;
}
#aside-6 {
  width: 30vw;
  // height: calc(100vh - 6rem);
  display: flex;
  flex-flow: column;
  overflow-y: auto !important;
  figure {
    float:right;
    height: 200px;
    width: 50%;
    background-image: url('./img/test-database.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: .5rem;
  }
  p {
    font-size: 12pt;
  }
  h2 {
    font-size: 14pt;
    font-weight: 700;
  }
  h3 {
    font-size: 12pt;
  }

  button {
    font-size: 12pt !important;
  }
  // section:last-child {
  //   overflow-y: auto;
  // }
  .v-gap {
    display: block;
    margin-bottom: .5rem;
  }
}

#page-1,
#page-2,
#page-3,
#page-4 {
  transition-duration: 0s !important;
  transition-delay: 0s !important;//1s !important;
  &.show {
    // transition-duration: .5s !important;
    transition-delay: 0s !important;
  }
}

#page-1.show {
  transition-duration: .5s !important;
  transition-delay: 1s !important;
}

.reverse {
  #page-1.show {
    transition-duration: 0s !important;
  }
}

#page-5.show {
  transition-duration: 0s !important;
  transition-delay: 0s !important;
}
//
.show~#page-5 {
  transition-duration: 0s !important;
  transition-delay: 0s;//1s !important;
}

#front-page.show+#page-1 {
  transition-duration: .5s !important;
  transition-delay: 0s !important;
}

.reverse {
  #page-1,
  #page-2,
  #page-3,
  #page-4,
  #page-5 {
    // transition-duration: 0s !important;
    transition-delay: 1.5s !important;//1s !important;
    &.show {
      transition-duration: 1.5s !important;
      transition-delay: 0s !important;
    }
  }
}

// #page-1 {
//   transition-duration: 0s !important;
//   transition-delay: 0s !important;
//   &.show {
//     transition-duration: .5s !important;
//     transition-delay: .75s !important;
//   }
// }

#page-1,
#page-2,
#page-3,
#page-4,
#page-5 {
  display: flex;
  align-items: center;
  overflow: hidden !important;
  &>div {
    // height: 50vh;
    width: 100%;
  }
  background-color: $color-alt-blue;
  figure {
    background-image: url('./img/video-frame.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    //
    height: 75vh;
    position: relative;
    img {
      height: 100%;
    }
  }
  video {
    // display: none;
    // max-height: 93vh;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    height: auto;
    min-width: 100%;
  }
}

// #page-1 figure {
//   background-image: url('./img/graphic-0.png');
// }
// #page-2 figure {
//   background-image: url('./img/graphic-1.png');
// }
// #page-3 figure {
//   background-image: url('./img/graphic-2.png');
// }
// #page-4 figure {
//   background-image: url('./img/graphic-3.png');
// }
// #page-5 figure {
//   background-image: url('./img/graphic-4.png');
// }



#front-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
  height: 100%;
  figure {
    height: 30vh;
    width: 100%;
    background-image: url("./img/towers-front.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &>div {
    position: relative;
  }

  &>div:first-of-type {
    background-color: $color-lt-blue;
    height: 3.5rem;
    width: 12rem;
    align-self: flex-start;
    margin-top: 5rem;
    transition: transform 2s $ease-out-2 .5s;
    transform: translateX(-50%);

    &::after {
      content: "";
      background: inherit;
      display: block;
      position: absolute;
      left: 100%;
      bottom: 100%;
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  &>div:last-of-type {
    background-color: $color-lt-blue;
    height: 3.5rem;
    width: 12rem;
    align-self: flex-end;
    margin-bottom: 5rem;
    transition: transform 2s $ease-out-2 .5s;
    transform: translateX(50%);

    &::after {
      content: "";
      background: transparent;
      display: block;
      position: absolute;
      right: 100%;
      bottom: 100%;
      width: 0;
      height: 0;
      border: $color-lt-blue solid 1.5rem;
      border-top-color: transparent;
      border-left-color: transparent;
    }
  }

  // &::after {
  //   content: "";
  //   display: block;
  //   flex: 0 0 auto;
  //   width: 20vw;
  //   height: 9vh;
  //   background-repeat: no-repeat;
  //   background-size: contain;
  //   transition: transform 2s $ease-out-2 .5s;
  // }
  // &::before {
  //   margin-top: 4vh;
  //   background-image: url("./img/test-front-square.png");
  //   background-position: left;
  //   align-self: flex-start;
  //   transform: translateX(-50%);
  // }
  // &::after {
  //   margin-bottom: 4vh;
  //   background-image: url("./img/test-front-triangle.png");
  //   background-position: right;
  //   align-self: flex-end;
  //   transform: translateX(50%);
  // }

  &.show {
    &>div:first-of-type, &>div:last-of-type {
      transform: none;
      transition-delay: 0;
    }
    .g {
      transform: none;
      opacity: 1;
    }
  }
}

#result-page {
  padding: 2rem;
  display: flex;
  flex-flow: column;
  background-image: url("./img/results-background.png");
  background-repeat: no-repeat;
  background-size: 80vh;
  background-position: bottom 2rem center;
  &.show {
    transition-delay: .5s;
    z-index: 40 !important;
    section>.dropdown {
      transform: none;
      opacity: 1;
      transition-delay: 1s;
      transition-timing-function: $ease-out-2;
      transition-duration: 1s;
      &>div>div>div>a {
        line-height: 1.75;
        font-size: 1.5rem;
      }
      &:nth-of-type(2) {
        transition-delay: 1.1s;
      }
      &:nth-of-type(3) {
        transition-delay: 1.2s;
      }
      &:nth-of-type(4) {
        transition-delay: 1.3s;
      }
      &:nth-of-type(5) {
        transition-delay: 1.4s;
      }
    }
  }
  &>section {
    // background-image: url("./img/test-result-background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    flex: 1 1 auto;
  }
  h2 {
    flex: 0 0 auto;
  }
  section>.dropdown {
    background-color: $color-blue;
    padding: 1.5rem;
    transform: translateY(200%);
    opacity: 0;
    transition: transform .75s $ease-in-2 1s, opacity .75s $ease-in-2 0s;
    .button {
      font-size: 12pt !important;
      line-height: 2 !important;
      background-color: $color-lt-blue;
      color: $color-black;
    }
    p {
      font-size: 14pt;
    }
    &>h3 {
      transition: margin .5s $ease-in-out .5s;
      margin-bottom: 0;
      will-change: margin;
      margin: -1.5rem;
      padding: 1.5rem;
      font-size: 16pt;
      &::after {
        margin-right: 1rem;
      }
    }
    &.show {
      &>h3 {
        transition-delay: 0s;
        margin-bottom: 1rem;
      }
    }
  }
}

.label-hover {
    display: inline-flex;
    float: right;
    width: 6rem;
    height: 8rem;
    margin: -2.5rem -2rem;
    margin-left: 0;
    flex: 0 0 auto;
    justify-content:  center;
    align-items: center;

    &:before {
        content: "";
        font-size: 1.5rem;
        color: black;
        line-height: 1.6;
        font-weight:  bold;
        background-image: url("./img/hover-icon.png");
        background-repeat: no-repeat;
        background-size: contain;
        // background-color: #51e5ff;
        text-align: center;
        height:  2rem;
        width: 2rem;
        display: flex;
        // border-radius: 50%;
        align-items:  center;
        justify-content: center;
    }

    &>span {
        position: absolute;
        padding: 2rem;
        top: 0;
        left: 0;
        height:  100%;
        width: calc(100% - 6rem);
        background: #51e5ff;
        color: black;
        justify-content: center;
        align-items: center;
        display: flex;
        transform: translateX(-100%);
        transition: transform .5s ease-in-out;
    }

    &:hover>span {
        transform: none;
    }
}

.close-modal {
  font-size: 1.6rem;
  margin-left: 1rem;
  font-weight: bold;
  opacity: .5;
  cursor: pointer;
}

strong {
  font-weight: 600;
}

.g {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: transform 1.5s $ease-out-2,
  opacity .75s $ease-out;
  transition-delay: .5s;
  transform: scale(.6);
  opacity: 0;
  .d1 {
    display: block;
    position: absolute;
    &::after {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      background-color: $color-lt-blue;
      transform:rotate(45deg);
    }
  }
  .s1 {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: $color-lt-blue;
  }
  .s2 {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: $color-lt-blue solid 4px;
  }
  .s3 {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    border: $color-lt-blue solid 4px;
  }
  .s4 {
    display: block;
    position: absolute;
    width: 17px;
    height: 17px;
    background-color: $color-lt-blue;
    // border: $color-lt-blue solid 4px;
  }
  .c1 {
    display: block;
    position: absolute;
    width: .75rem;
    height: .75rem;
    background-color: $color-lt-blue;
    border-radius: 50%;
  }
  .c2 {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: $color-lt-blue solid 4px;
    border-radius: 50%;
  }
  .c3 {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: $color-lt-blue solid 4px;
    border-radius: 50%;
  }
}

.range-container {
  padding: 2rem;
  position: relative;
  &::before {
    content: "";
    display: block;
    width: .35rem;
    height: 2rem;
    background-color: $color-blue;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 3.55rem;
    z-index: -1;
  }
  input[type="range"] {
    width: 100%;
    padding: .5rem 0;
    margin: 1rem 0;
    border: none;
    height: 39px; //For Edge
  }
  p {
    position: relative;
    font-size: 14pt;
    span {
      text-align: center;
      width: 30%;
    }
    span:first-of-type {
      text-align: left;
    }
    span:last-of-type {
      text-align: right;
    }
  }
}

.dropdown {
  margin-bottom: 1rem;
  &.strong>h3 {
  }
  h3 {
    font-size: 12pt;
    margin: 0 0 1rem 0;
    font-weight: 600;
  }
  &>h3 {
    cursor: pointer;
    position: relative;
    // padding-right: 2rem;
    &::after {
      content: "";
      display: inline-block;
      // position: absolute;
      // margin: auto;
      margin-left: 1rem;
      // top: 5px;
      // right: 1rem;
      bottom: 0;
      height: 6px;
      width: 6px;
      border: 1px solid $color-lt-blue;
      border-bottom-color: transparent;
      border-left-color: transparent;
      transition: transform .5s $ease-in-out;
      transform: rotate(45deg);
      transform-origin: 70% 20%;
    }
  }
  &>div {
    max-height: 0;
    opacity: 1;
    overflow: hidden;
    transition: max-height .5s $ease-in-out, opacity .3s $ease-in-out .5s;
  }
  &.show {
    &>div {
      opacity: 1;
      max-height: 20rem;
    }
    &>h3::after {
      transform: rotate(135deg);
    }
    &.h-100vh>div {
      max-height: 100vh;
    }
    &.h-100vh>div {
      max-height: 100vh;
    }
  }
  p {
    margin-bottom: 2rem;
  }
}

.modal {
  position: fixed;
  top: 4rem;
  left: 0;
  right: 30vw;
  bottom: 0;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  pointer-events: none;
  transition: background-color .5s $ease-in-out .25s;
  &>div {
    background-color: $color-blue;
    padding: 2rem;
    opacity: 0;
    max-height: 100%;
    transform: translateY(2rem);
    transition: transform .5s $ease-in, opacity .5s $ease-in;
    display: flex;
    flex-flow: column;
    &>div {
      flex: 1 1 auto;
      overflow: auto;
      padding-bottom: 1rem;
    }
    &>header {
      flex: 1 0 auto;
    }
    h2 {
      font-size: 16pt;
      font-weight: 600;
    }
    h4 {
      margin-top: 2rem;
    }
    p {
      font-size: 14pt;
    }
  }
  &.show {
    pointer-events: inherit;
    transition-delay: 0s;
    background: $color-shadow;
    &>div {
      opacity: 1;
      transform: none;
      transition-timing-function: $ease-out-2;
      transition-duration: 1s;
    }
  }
}

input[type="radio"],
input[type="checkbox"] {
  margin:0;
  position: absolute;
  &+label {
    cursor: pointer;
    line-height: 1.9;
    &>span>span {
      letter-spacing: .75px;
      padding-bottom: 0.35rem;
      width: calc(100%);
      background-image: linear-gradient(transparent calc(100% - 1.5px), $color-blue 1.5px);
      background-repeat: no-repeat;
      background-size: 0% 100%;
      transition: background-size 1s;
    }
  }
}

label {
    display: block;
    border-bottom: solid $color-grey 1px;
    padding: 2.5rem 2rem;
}

input[type="radio"]:checked+label,
input[type="checkbox"]:checked+label {
  font-weight: 600;
  &>span>span {
    letter-spacing: 0;
    // border-bottom: solid 1.5px $color-blue;
    background-size: 100% 100%;
  }
}


.line-horizontal {
  display: block;
  background-color: $color-white;
  width: 100%;
  height: .3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  flex: 0 0 auto;
  &.thin {
    background-color: $color-lt-grey;
    height: 1px;
  }
  &.bottom {
    margin-bottom: 0;
    margin-top: 1.5rem;
  }
}

.flex-container {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.center {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.right {
  text-align: right;
}

.w-660 {
  max-width: 700px;
  margin: auto;
}

.z10 {
  position: relative;
  z-index: 10;
}

.delay-1 {
  animation-delay: -1s;
}
.delay-2 {
  animation-delay: -2s;
}
.delay-3 {
  animation-delay: -3s;
}
.delay-4 {
  animation-delay: -4s;
}
.delay-5 {
  animation-delay: -5s;
}

.orbit {
  animation-name: orbit;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes orbit {
    from { transform: rotate(0deg) translateX(5px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(5px) rotate(-360deg); }
}


.square-float {
  animation-name: square-float;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes square-float {
    from { transform: rotate(0deg) translateX(4px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(4px) rotate(-360deg); }
}


/*Custom Range Control CSS*/
input[type=range] {
    -webkit-appearance: none;
    border: none;
    width: 100%;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: $color-blue;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $color-white;
    margin-top: -5px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: $color-blue;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    background: $color-blue;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $color-white;
}

input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: $color-blue;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: $color-blue;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $color-white;
}
input[type=range]:focus::-ms-fill-lower {
    background: $color-blue;
}
input[type=range]:focus::-ms-fill-upper {
    background: $color-blue;
}




@media screen and (max-width: 900px) {
  html {
    // font-size: 12px;
  }

  #root > div > main {
    flex-flow: column;
    height:  auto;
    & > section.carpet {
      &::before {
        transform: translate(-30%, -90%) rotate(-30deg);
      }
      &::after {
        transform: translate(30%, 90%) rotate(-30deg);
      }

    }
    aside {
      width: 100% !important;
      &>div {
        width:  100% !important;
      }
    }
  }

  #page-1 figure, #page-2 figure, #page-3 figure, #page-4 figure, #page-5 figure {
    height: 20vh;
    margin: 5vh 0;
  }

  .modal {
    position: fixed;
    z-index: 1000;
    &.show {
      background: #00000052;
    }
  }
}
