/*	Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
--------------------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 0;
  padding: 0;
  background: none;
  font-size: 100%; }

* {
  box-sizing: border-box; }

html {
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Segoe UI',SegoeUI,'Segoe WP',Helvetica,Tahoma,Arial,sans-serif;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden; }

body {
  height: auto;
  width: 100vw;
  overflow-x: hidden;
  font-size: 12px; }

h1 {
  margin-bottom: 1.5rem;
  font-size: 35pt;
  text-transform: uppercase;
  font-weight: bold; }

h2 {
  font-size: 37pt;
  font-weight: 100;
  margin-bottom: 1rem; }

h3 {
  font-size: 18pt;
  font-weight: 100;
  margin: 2rem 0 .5rem; }

h4 {
  font-size: 14pt;
  font-weight: 600;
  margin-bottom: .5rem; }

ul {
  list-style: disc;
  padding-left: 2rem;
  margin-bottom: 2rem; }
  ul li {
    font-size: 14pt;
    margin-bottom: 1rem;
    font-weight: 100;
    line-height: 1.6; }

p, label {
  font-size: 14pt;
  font-weight: 100;
  line-height: 1.4; }

p {
  font-size: 16pt;
  margin-bottom: .8rem; }

a, .a {
  font-weight: 600;
  color: #50E6FF;
  text-decoration: none;
  cursor: pointer; }

button, .button {
  padding: .5rem 1rem;
  color: inherit;
  font: inherit;
  font-size: 22pt;
  font-weight: bold;
  position: relative;
  cursor: pointer; }
  button:disabled, .button:disabled {
    cursor: auto; }
  button.arrow::after, .button.arrow::after {
    content: "";
    height: .15em;
    width: 1.1em;
    margin: .55em .5rem;
    display: inline-block;
    vertical-align: top;
    background-color: #FFFFFF; }
  button.arrow::before, .button.arrow::before {
    content: "";
    position: absolute;
    right: .35em;
    top: 0;
    bottom: 0;
    height: 0;
    width: 0;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    border: 0.3em #0078D4 solid;
    border-left-color: #FFFFFF;
    transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1); }
  button.arrow:hover::before, .button.arrow:hover::before {
    transform: translateX(0.6rem); }

#root > div {
  min-height: 100vh;
  display: flex;
  flex-flow: column; }
  #root > div > header {
    height: 6rem;
    background-color: #000000;
    z-index: 10;
    flex: 0 0 auto;
    display: flex;
    align-items: center; }
    #root > div > header img {
      height: 100%;
      cursor: pointer; }
  #root > div > main {
    flex: 1 1 auto;
    display: flex;
    height: calc(100vh - 6rem); }
    #root > div > main > section {
      position: relative;
      background-color: #0078D4;
      flex: 1 1 auto;
      will-change: width;
      overflow: hidden;
      transition: transform 1s cubic-bezier(0.7, 0, 0.3, 1), width 1s cubic-bezier(0.7, 0, 0.3, 1), background-color 1s cubic-bezier(0.7, 0, 0.3, 1) 0.5s; }
      #root > div > main > section.front > div {
        transition-delay: .5s; }
      #root > div > main > section.results {
        background-color: #000000;
        transition-delay: 0s; }
      #root > div > main > section > div {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1);
        z-index: 10;
        overflow-y: auto; }
        #root > div > main > section > div.show {
          opacity: 1;
          position: relative;
          z-index: 20;
          transition-delay: 1s; }
    #root > div > main aside {
      flex: 0 0 auto;
      transition: transform 1s cubic-bezier(0.7, 0, 0.3, 1), width 1s cubic-bezier(0.7, 0, 0.3, 1), background-color 1s cubic-bezier(0.7, 0, 0.3, 1);
      will-change: width;
      background-color: #000000;
      z-index: 30;
      position: relative;
      overflow-x: hidden; }
      #root > div > main aside.w0 {
        width: 0;
        transition-delay: .25s; }
      #root > div > main aside.w30 {
        width: 30vw; }
      #root > div > main aside.w40 {
        width: 40vw; }
      #root > div > main aside.results {
        background-color: #0078D4; }
      #root > div > main aside label {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between; }
      #root > div > main aside header {
        padding: 0 2rem; }
        #root > div > main aside header p {
          margin-bottom: 3rem;
          font-size: 12pt; }
      #root > div > main aside form {
        overflow: auto;
        flex: 1 1 auto; }
      #root > div > main aside footer {
        margin-top: auto;
        padding: 2rem; }
      #root > div > main aside button {
        background-color: #50E6FF;
        color: #000000;
        font-size: 14pt;
        padding: .75rem;
        min-width: 9rem;
        margin-left: 1rem;
        position: relative;
        transition: background-color 1s cubic-bezier(0.7, 0, 0.3, 1);
        overflow: hidden; }
        #root > div > main aside button:first-of-type {
          margin: 0; }
        #root > div > main aside button:disabled {
          background-color: #3C3C41; }
          #root > div > main aside button:disabled:after {
            display: none; }
        #root > div > main aside button > span {
          position: relative;
          z-index: 1; }
        #root > div > main aside button:after {
          content: "";
          position: absolute;
          z-index: 0;
          transition: all 0.3s;
          width: 100%;
          height: 0;
          top: 50%;
          left: 50%;
          background: #fff;
          opacity: 0;
          transform: translateX(-50%) translateY(-50%) rotate(-30deg); }
        #root > div > main aside button:hover::after {
          height: 200%;
          opacity: 1; }
        #root > div > main aside button.back {
          color: #FFFFFF !important;
          background: transparent !important;
          font-weight: 100; }
          #root > div > main aside button.back:after {
            display: none; }
      #root > div > main aside img {
        height: 100px;
        margin-right: 1rem; }
      #root > div > main aside section {
        padding: 2rem;
        padding-top: 0; }
        #root > div > main aside section:first-of-type {
          padding-top: 2rem; }
      #root > div > main aside > .show ~ div {
        transform: translateX(100%); }
      #root > div > main aside > div {
        opacity: 0;
        transition: opacity 0.25s cubic-bezier(0.75, 0, 1, 1), transform 0.75s cubic-bezier(0.8, 0, 1, 0.55);
        height: 100%;
        min-width: 300px;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        flex-flow: column;
        z-index: 10;
        overflow: hidden;
        transform: translateX(-100%); }
        #root > div > main aside > div.show {
          opacity: 1;
          transition-delay: 1s;
          z-index: 20;
          position: relative;
          transform: none;
          transition: opacity 0.25s cubic-bezier(0, 0, 0.15, 1) 0.5s, transform 0.75s cubic-bezier(0, 0.45, 0.2, 1); }

aside h2 {
  font-size: 24pt; }

aside h3 {
  margin: 0; }

aside .dropdown h3 {
  font-size: 1.1rem; }

#aside-1,
#aside-2,
#aside-3,
#aside-4,
#aside-5 {
  width: 40vw; }

#aside-6 {
  width: 30vw;
  display: flex;
  flex-flow: column;
  overflow-y: auto !important; }
  #aside-6 figure {
    float: right;
    height: 200px;
    width: 50%;
    background-image: url("./img/test-database.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: .5rem; }
  #aside-6 p {
    font-size: 12pt; }
  #aside-6 h2 {
    font-size: 14pt;
    font-weight: 700; }
  #aside-6 h3 {
    font-size: 12pt; }
  #aside-6 button {
    font-size: 12pt !important; }
  #aside-6 .v-gap {
    display: block;
    margin-bottom: .5rem; }

#page-1,
#page-2,
#page-3,
#page-4 {
  transition-duration: 0s !important;
  transition-delay: 0s !important; }
  #page-1.show,
  #page-2.show,
  #page-3.show,
  #page-4.show {
    transition-delay: 0s !important; }

#page-1.show {
  transition-duration: .5s !important;
  transition-delay: 1s !important; }

.reverse #page-1.show {
  transition-duration: 0s !important; }

#page-5.show {
  transition-duration: 0s !important;
  transition-delay: 0s !important; }

.show ~ #page-5 {
  transition-duration: 0s !important;
  transition-delay: 0s; }

#front-page.show + #page-1 {
  transition-duration: .5s !important;
  transition-delay: 0s !important; }

.reverse #page-1,
.reverse #page-2,
.reverse #page-3,
.reverse #page-4,
.reverse #page-5 {
  transition-delay: 1.5s !important; }
  .reverse #page-1.show,
  .reverse #page-2.show,
  .reverse #page-3.show,
  .reverse #page-4.show,
  .reverse #page-5.show {
    transition-duration: 1.5s !important;
    transition-delay: 0s !important; }

#page-1,
#page-2,
#page-3,
#page-4,
#page-5 {
  display: flex;
  align-items: center;
  overflow: hidden !important;
  background-color: #0070d3; }
  #page-1 > div,
  #page-2 > div,
  #page-3 > div,
  #page-4 > div,
  #page-5 > div {
    width: 100%; }
  #page-1 figure,
  #page-2 figure,
  #page-3 figure,
  #page-4 figure,
  #page-5 figure {
    background-image: url("./img/video-frame.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 75vh;
    position: relative; }
    #page-1 figure img,
    #page-2 figure img,
    #page-3 figure img,
    #page-4 figure img,
    #page-5 figure img {
      height: 100%; }
  #page-1 video,
  #page-2 video,
  #page-3 video,
  #page-4 video,
  #page-5 video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    height: auto;
    min-width: 100%; }

#front-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
  height: 100%; }
  #front-page figure {
    height: 30vh;
    width: 100%;
    background-image: url("./img/towers-front.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  #front-page > div {
    position: relative; }
  #front-page > div:first-of-type {
    background-color: #50E6FF;
    height: 3.5rem;
    width: 12rem;
    align-self: flex-start;
    margin-top: 5rem;
    transition: transform 2s cubic-bezier(0, 0.45, 0.2, 1) 0.5s;
    transform: translateX(-50%); }
    #front-page > div:first-of-type::after {
      content: "";
      background: inherit;
      display: block;
      position: absolute;
      left: 100%;
      bottom: 100%;
      width: 2.5rem;
      height: 2.5rem; }
  #front-page > div:last-of-type {
    background-color: #50E6FF;
    height: 3.5rem;
    width: 12rem;
    align-self: flex-end;
    margin-bottom: 5rem;
    transition: transform 2s cubic-bezier(0, 0.45, 0.2, 1) 0.5s;
    transform: translateX(50%); }
    #front-page > div:last-of-type::after {
      content: "";
      background: transparent;
      display: block;
      position: absolute;
      right: 100%;
      bottom: 100%;
      width: 0;
      height: 0;
      border: #50E6FF solid 1.5rem;
      border-top-color: transparent;
      border-left-color: transparent; }
  #front-page.show > div:first-of-type, #front-page.show > div:last-of-type {
    transform: none;
    transition-delay: 0; }
  #front-page.show .g {
    transform: none;
    opacity: 1; }

#result-page {
  padding: 2rem;
  display: flex;
  flex-flow: column;
  background-image: url("./img/results-background.png");
  background-repeat: no-repeat;
  background-size: 80vh;
  background-position: bottom 2rem center; }
  #result-page.show {
    transition-delay: .5s;
    z-index: 40 !important; }
    #result-page.show section > .dropdown {
      transform: none;
      opacity: 1;
      transition-delay: 1s;
      transition-timing-function: cubic-bezier(0, 0.45, 0.2, 1);
      transition-duration: 1s; }
      #result-page.show section > .dropdown > div > div > div > a {
        line-height: 1.75;
        font-size: 1.5rem; }
      #result-page.show section > .dropdown:nth-of-type(2) {
        transition-delay: 1.1s; }
      #result-page.show section > .dropdown:nth-of-type(3) {
        transition-delay: 1.2s; }
      #result-page.show section > .dropdown:nth-of-type(4) {
        transition-delay: 1.3s; }
      #result-page.show section > .dropdown:nth-of-type(5) {
        transition-delay: 1.4s; }
  #result-page > section {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    flex: 1 1 auto; }
  #result-page h2 {
    flex: 0 0 auto; }
  #result-page section > .dropdown {
    background-color: #0078D4;
    padding: 1.5rem;
    transform: translateY(200%);
    opacity: 0;
    transition: transform 0.75s cubic-bezier(0.8, 0, 1, 0.55) 1s, opacity 0.75s cubic-bezier(0.8, 0, 1, 0.55) 0s; }
    #result-page section > .dropdown .button {
      font-size: 12pt !important;
      line-height: 2 !important;
      background-color: #50E6FF;
      color: #000000; }
    #result-page section > .dropdown p {
      font-size: 14pt; }
    #result-page section > .dropdown > h3 {
      transition: margin 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.5s;
      margin-bottom: 0;
      will-change: margin;
      margin: -1.5rem;
      padding: 1.5rem;
      font-size: 16pt; }
      #result-page section > .dropdown > h3::after {
        margin-right: 1rem; }
    #result-page section > .dropdown.show > h3 {
      transition-delay: 0s;
      margin-bottom: 1rem; }

.label-hover {
  display: inline-flex;
  float: right;
  width: 6rem;
  height: 8rem;
  margin: -2.5rem -2rem;
  margin-left: 0;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center; }
  .label-hover:before {
    content: "";
    font-size: 1.5rem;
    color: black;
    line-height: 1.6;
    font-weight: bold;
    background-image: url("./img/hover-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .label-hover > span {
    position: absolute;
    padding: 2rem;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100% - 6rem);
    background: #51e5ff;
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    transform: translateX(-100%);
    transition: transform .5s ease-in-out; }
  .label-hover:hover > span {
    transform: none; }

.close-modal {
  font-size: 1.6rem;
  margin-left: 1rem;
  font-weight: bold;
  opacity: .5;
  cursor: pointer; }

strong {
  font-weight: 600; }

.g {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: transform 1.5s cubic-bezier(0, 0.45, 0.2, 1), opacity 0.75s cubic-bezier(0, 0, 0.15, 1);
  transition-delay: .5s;
  transform: scale(0.6);
  opacity: 0; }
  .g .d1 {
    display: block;
    position: absolute; }
    .g .d1::after {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      background-color: #50E6FF;
      transform: rotate(45deg); }
  .g .s1 {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #50E6FF; }
  .g .s2 {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: #50E6FF solid 4px; }
  .g .s3 {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    border: #50E6FF solid 4px; }
  .g .s4 {
    display: block;
    position: absolute;
    width: 17px;
    height: 17px;
    background-color: #50E6FF; }
  .g .c1 {
    display: block;
    position: absolute;
    width: .75rem;
    height: .75rem;
    background-color: #50E6FF;
    border-radius: 50%; }
  .g .c2 {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: #50E6FF solid 4px;
    border-radius: 50%; }
  .g .c3 {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: #50E6FF solid 4px;
    border-radius: 50%; }

.range-container {
  padding: 2rem;
  position: relative; }
  .range-container::before {
    content: "";
    display: block;
    width: .35rem;
    height: 2rem;
    background-color: #0078D4;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 3.55rem;
    z-index: -1; }
  .range-container input[type="range"] {
    width: 100%;
    padding: .5rem 0;
    margin: 1rem 0;
    border: none;
    height: 39px; }
  .range-container p {
    position: relative;
    font-size: 14pt; }
    .range-container p span {
      text-align: center;
      width: 30%; }
    .range-container p span:first-of-type {
      text-align: left; }
    .range-container p span:last-of-type {
      text-align: right; }

.dropdown {
  margin-bottom: 1rem; }
  .dropdown h3 {
    font-size: 12pt;
    margin: 0 0 1rem 0;
    font-weight: 600; }
  .dropdown > h3 {
    cursor: pointer;
    position: relative; }
    .dropdown > h3::after {
      content: "";
      display: inline-block;
      margin-left: 1rem;
      bottom: 0;
      height: 6px;
      width: 6px;
      border: 1px solid #50E6FF;
      border-bottom-color: transparent;
      border-left-color: transparent;
      transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
      transform: rotate(45deg);
      transform-origin: 70% 20%; }
  .dropdown > div {
    max-height: 0;
    opacity: 1;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0.7, 0, 0.3, 1), opacity 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0.5s; }
  .dropdown.show > div {
    opacity: 1;
    max-height: 20rem; }
  .dropdown.show > h3::after {
    transform: rotate(135deg); }
  .dropdown.show.h-100vh > div {
    max-height: 100vh; }
  .dropdown.show.h-100vh > div {
    max-height: 100vh; }
  .dropdown p {
    margin-bottom: 2rem; }

.modal {
  position: fixed;
  top: 4rem;
  left: 0;
  right: 30vw;
  bottom: 0;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  pointer-events: none;
  transition: background-color 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.25s; }
  .modal > div {
    background-color: #0078D4;
    padding: 2rem;
    opacity: 0;
    max-height: 100%;
    transform: translateY(2rem);
    transition: transform 0.5s cubic-bezier(0.75, 0, 1, 1), opacity 0.5s cubic-bezier(0.75, 0, 1, 1);
    display: flex;
    flex-flow: column; }
    .modal > div > div {
      flex: 1 1 auto;
      overflow: auto;
      padding-bottom: 1rem; }
    .modal > div > header {
      flex: 1 0 auto; }
    .modal > div h2 {
      font-size: 16pt;
      font-weight: 600; }
    .modal > div h4 {
      margin-top: 2rem; }
    .modal > div p {
      font-size: 14pt; }
  .modal.show {
    pointer-events: inherit;
    transition-delay: 0s;
    background: #00000094; }
    .modal.show > div {
      opacity: 1;
      transform: none;
      transition-timing-function: cubic-bezier(0, 0.45, 0.2, 1);
      transition-duration: 1s; }

input[type="radio"],
input[type="checkbox"] {
  margin: 0;
  position: absolute; }
  input[type="radio"] + label,
  input[type="checkbox"] + label {
    cursor: pointer;
    line-height: 1.9; }
    input[type="radio"] + label > span > span,
    input[type="checkbox"] + label > span > span {
      letter-spacing: .75px;
      padding-bottom: 0.35rem;
      width: calc(100%);
      background-image: linear-gradient(transparent calc(100% - 1.5px), #0078D4 1.5px);
      background-repeat: no-repeat;
      background-size: 0% 100%;
      transition: background-size 1s; }

label {
  display: block;
  border-bottom: solid #75757A 1px;
  padding: 2.5rem 2rem; }

input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
  font-weight: 600; }
  input[type="radio"]:checked + label > span > span,
  input[type="checkbox"]:checked + label > span > span {
    letter-spacing: 0;
    background-size: 100% 100%; }

.line-horizontal {
  display: block;
  background-color: #FFFFFF;
  width: 100%;
  height: .3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  flex: 0 0 auto; }
  .line-horizontal.thin {
    background-color: #EBEBEB;
    height: 1px; }
  .line-horizontal.bottom {
    margin-bottom: 0;
    margin-top: 1.5rem; }

.flex-container {
  display: flex; }

.space-between {
  justify-content: space-between; }

.center {
  text-align: center;
  justify-content: center;
  align-items: center; }

.right {
  text-align: right; }

.w-660 {
  max-width: 700px;
  margin: auto; }

.z10 {
  position: relative;
  z-index: 10; }

.delay-1 {
  animation-delay: -1s; }

.delay-2 {
  animation-delay: -2s; }

.delay-3 {
  animation-delay: -3s; }

.delay-4 {
  animation-delay: -4s; }

.delay-5 {
  animation-delay: -5s; }

.orbit {
  animation-name: orbit;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(5px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(5px) rotate(-360deg); } }

.square-float {
  animation-name: square-float;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes square-float {
  from {
    transform: rotate(0deg) translateX(4px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(4px) rotate(-360deg); } }

/*Custom Range Control CSS*/
input[type=range] {
  -webkit-appearance: none;
  border: none;
  width: 100%; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: #0078D4;
  border: none;
  border-radius: 3px; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #FFFFFF;
  margin-top: -5px; }

input[type=range]:focus {
  outline: none; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #0078D4; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  background: #0078D4;
  border: none;
  border-radius: 3px; }

input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #FFFFFF; }

input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px; }

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #0078D4;
  border-radius: 10px; }

input[type=range]::-ms-fill-upper {
  background: #0078D4;
  border-radius: 10px; }

input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #FFFFFF; }

input[type=range]:focus::-ms-fill-lower {
  background: #0078D4; }

input[type=range]:focus::-ms-fill-upper {
  background: #0078D4; }

@media screen and (max-width: 900px) {
  #root > div > main {
    flex-flow: column;
    height: auto; }
    #root > div > main > section.carpet::before {
      transform: translate(-30%, -90%) rotate(-30deg); }
    #root > div > main > section.carpet::after {
      transform: translate(30%, 90%) rotate(-30deg); }
    #root > div > main aside {
      width: 100% !important; }
      #root > div > main aside > div {
        width: 100% !important; }
  #page-1 figure, #page-2 figure, #page-3 figure, #page-4 figure, #page-5 figure {
    height: 20vh;
    margin: 5vh 0; }
  .modal {
    position: fixed;
    z-index: 1000; }
    .modal.show {
      background: #00000052; } }
